@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FrontEndE3.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<img src="/images/portada3.png" style="width: 100%;">
<hr>
<h2>Productos destacados</h2>
<div class="productosdestacados">
    <a class="producto">
        <img src="images/detergente.png">
    </a>
    <a class="producto">
        <img src="images/leche.jpg">
    </a>
    <a class="producto">
        <img src="images/papas.png">
    </a>
    <a class="producto">
        <img src="images/tomate.jpg">
    </a>
</div>
<hr>
