@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FrontEndE3.Pages.NosotrosModel
@{
    ViewData["Title"] = "Nosotros";
    Layout = "_Layout";
}

<br />
<img src="/images/portada2.jpg" style="max-height: 200px; margin-left: 20px;" class="float-end">
<p>
    Lorem ipsum dolor sit amet luptatum ut at sadipscing no accusam labore diam. Eirmod sit takimata in eos et
    at. Nibh accusam et amet consequat vel et iriure est elitr feugiat amet justo. Iusto amet voluptua aliquyam
    rebum sit magna et hendrerit at justo erat. Ea dolor dolore et at clita aliquyam sanctus et diam lorem amet
    voluptua dolore zzril iusto et eirmod. Rebum quod eos sea et elitr justo sanctus erat exerci ipsum gubergren
    at voluptua feugait lorem. At et facer esse gubergren facilisi ut gubergren sit invidunt hendrerit invidunt
    adipiscing praesent sit accusam consetetur ea ad. Molestie kasd sea nonumy labore. Dolores sit erat erat in
    nonummy dolore zzril vel ut diam et lorem invidunt ipsum dolor duo facilisi. Sadipscing stet diam sit nonumy
    consequat kasd dolor est.
</p>
<img src="/images/portada4.jpg" style="max-height: 200px; margin-right: 20px;" class="float-start">
<p>
    Lorem ipsum dolor sit amet luptatum ut at sadipscing no accusam labore diam. Eirmod sit takimata in eos
    et at. Nibh accusam et amet consequat vel et iriure est elitr feugiat amet justo. Iusto amet voluptua
    aliquyam
    rebum sit magna et hendrerit at justo erat. Ea dolor dolore et at clita aliquyam sanctus et diam lorem amet
    voluptua dolore zzril iusto et eirmod. Rebum quod eos sea et elitr justo sanctus erat exerci ipsum gubergren
    at
    voluptua feugait lorem. At et facer esse gubergren facilisi ut gubergren sit invidunt hendrerit invidunt
    adipiscing praesent sit accusam consetetur ea ad. Molestie kasd sea nonumy labore. Dolores sit erat erat in
    nonummy dolore zzril vel ut diam et lorem invidunt ipsum dolor duo facilisi. Sadipscing stet diam sit nonumy
    consequat kasd dolor est.
</p>
<div style="clear: both;"></div>
<br />